#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#task-list {
  list-style: none;
  text-align: left;
}

.delete-btn {
  background-color: red;
  width: 50px;
  height: 25px;
  text-align: center;
  color: white;
  border-color: red;
  border-radius: 5px;
  font-size: large;
}

#add-btn {
  background-color: green;
  color: white;
  border-color: green;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
}

span {
  font-size: 25px;
  padding: 20px;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#task-input {
  width: 500px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  border: grey solid 2px;
}

li {
  padding: 10px;
  border-bottom: 1px solid black;
}
